<template>
  <div>
    <div style="height: 202px; background-color: black">
      <div class="container" style="height: 100%">
        <div class="row" style="height: 100%">
          <div class="col-7 center">
            <img src="../assets/logo_att.png" alt="" width="100%">
          </div>
          <div class="col-5 center px-2">
            <div class="p-1 border-boton">
              <p style="font-size: 18px; " class="m-0 text-center center d-sm-block d-none boton">
                <strong>Compra o recarga</strong>
              </p>
              <p style="font-size: 10px; " class="m-0 text-center center d-block d-sm-none boton">
                <strong>Compra o recarga</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 202px; background-color: #619BD2">
      <div class="container" style="height: 100%">
        <div class="row" style="height: 100%">
          <div class="col-7 center">
            <img src="../assets/logo_movistar_white.png" alt="" width="100%">
          </div>
          <div class="col-5 center px-2">
            <div class="p-1 border-boton">
              <p style="font-size: 18px; " class="m-0 text-center center d-sm-block d-none boton">
                <strong>Compra o recarga</strong>
              </p>
              <p style="font-size: 10px; " class="m-0 text-center center d-block d-sm-none boton">
                <strong>Compra o recarga</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 202px; background-color: #E5B22F">
      <div class="container" style="height: 100%">
        <div class="row" style="height: 100%">
          <div class="col-7 center">
            <img src="../assets/unefon_amarillo.png" alt="" class="d-sm-none d-lg-none d-md-block d-none" width="70%">
            <img src="../assets/unefon_amarillo.png" alt="" class="d-sm-block d-lg-none d-md-none d-none" width="80%">
            <img src="../assets/unefon_amarillo.png" alt="" class=" d-sm-none d-lg-block d-md-none " width="100%">
          </div>
          <div class="col-5 center px-2">
            <div class="p-1 border-boton">
              <p style="font-size: 18px; " class="m-0 text-center center d-sm-block d-none boton">
                <strong>Compra o recarga</strong>
              </p>
              <p style="font-size: 10px; " class="m-0 text-center center d-block d-sm-none boton">
                <strong>Compra o recarga</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CarriersPhone"
  }
</script>

<style scoped>

  .center {
    margin-top: auto;
    margin-bottom: auto;
  }

  .boton {
    border: 1px solid #C33B42;
    border-radius: 5px;
    color: #C33B42
  }

  .border-boton {
    border-radius: 8px;
    background-color: white;
  }

</style>
