<template>
  <footer>
    <div class="container">
      <div class="row justify-content-around pt-5 pb-4">
        <div class="col-3">
          <p class="text-center">Contacto</p>
          <p class="text-center">Síguenos:</p>
          <div class="row justify-content-center">
            <a href="https://www.facebook.com/VCellOficial" target="_blank" class="col-3 ">
              <img src="../assets/fbb.svg" alt="">
            </a>
            <a href="https://www.instagram.com/vcellmx/" target="_blank" class="col-3 ">
              <img src="../assets/igw.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-6">
          <img src="../assets/logo_vcell_white.png" style="width: 45%" class="mx-auto d-block">
          <p class="text-center mt-4">VCell 2020 todos los derechos reservados</p>
          <p class="text-center mt-4">Desarrollado por F&F soluciones</p>
        </div>
        <div class="col-3">
          <p class="text-center">Aviso de privacidad</p>
          <p class="text-center">Términos y condiciones</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>

  footer {
    background-color: black;
    color: white !important;
  }

</style>
