<template>
  <footer style="background-color: black">
    <div class="container">
      <div class="row mb-3">
        <img src="../assets/logo_vcell_white.png" alt="" width="60%" class="mx-auto d-block">
      </div>
      <div class="row justify-content-center">
        <p class="text-center">Contacto</p>
      </div>
      <div class="row justify-content-center">
        <p class="text-center">Síguenos:</p>
      </div>
      <div class="row justify-content-center mb-4">
        <a href="https://www.facebook.com/VCellOficial" target="_blank" class="col-3 ">
          <img src="../assets/fbb.svg" alt="">
        </a>
        <a href="https://www.instagram.com/vcellmx/" target="_blank" class="col-3 ">
          <img src="../assets/igw.svg" alt="">
        </a>
      </div>
      <div class="row justify-content-center">
        <p class="text-center">Aviso de privacidad</p>
      </div>
      <div class="row justify-content-center">
        <p class="text-center">Términos y condiciones</p>
      </div>
      <div class="row justify-content-center mx-2">
        <p class="text-center">VCell 2020 todos los derechos reservados</p>
      </div>
      <div class="row justify-content-center mx-2">
        <p class="text-center">Desarrollado por F&F soluciones</p>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "FooterPhone"
  }
</script>

<style scoped>

  p {
    color: white;
  }

</style>
