<template>
  <section>
    <div class="view">
      <video autoplay loop
             src="http://vcell.com.mx/videos/header_vcell.mp4"
             style="width: 100%;">
      </video>
      <div class="mask" style="color: white">
        <div class="container h-100 " style="margin-right: 6rem; margin-left: 6rem">
          <div class="row  h-100">
            <div class="col-6 center px-0" style="height: 500px; width: 500px; max-width: 500px">
              <div style="height: 100%">
                <img src="../assets/index_att.png" alt="" style="position: absolute; bottom: -2rem; right: -3.5rem"
                     width="100%">
                <img src="../assets/index_movistar.png" alt=""
                     style="position: absolute;  right: -3.5rem; top: -2.3rem " width="100%">
                <img src="../assets/index_unefon.png" alt="" style="position: absolute; bottom: 0rem" height="100%">
                <div style="bottom: 0; right: 8.3rem" class="p-1 border-boton">
                  <p class="m-0 text-center center boton"><strong class="mx-2">Comprar</strong></p>
                </div>
                <div style="top: 6rem; right: 8.3rem" class="p-1 border-boton">
                  <p class="m-0 text-center center boton"><strong class="mx-2">Comprar</strong></p>
                </div>
                <div style="top: 20rem; left: 3rem" class="p-1 border-boton">
                  <p class="m-0 text-center center boton"><strong class="mx-2">Comprar</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Header"
  }
</script>

<style scoped>

  .center {
    margin-top: auto;
    margin-bottom: auto;
  }

  .boton {
    font-size: 23px;
    border: 1px solid #C33B42;
    border-radius: 10px;
    color: #C33B42;
  }

  .border-boton {
    border-radius: 13px;
    background-color: white;
    position: absolute;
  }

</style>
