<template>
  <div>
    <Navbar class="d-none d-lg-flex"></Navbar>
    <NavbarPhone class="d-block d-lg-none"></NavbarPhone>
    <div class="container-fluid d-block d-lg-none" style="background-color: #E4F0F5">
      <img src="../assets/parrilla_mobile_att.png" alt="" width="100%">
      <img src="../assets/parrilla_mobile_movistar.png" alt="" width="100%">
      <img src="../assets/parrilla_mobile_unefon.png" alt="" width="100%">
    </div>
    <div style="background-color: #2A5689" class="d-block d-md-none">
      <div class="container py-3" >
        <div class="row justify-content-center" style="position: relative">
          <h3 class="mb-0" style="color: white; z-index: 2">Compra aquí</h3>
          <div class="arrow-down" style="position: absolute; ">
          </div>
        </div>
      </div>
    </div>
    <Header class="d-none d-lg-block"></Header>
    <div style="background-color: #2A5689" class="d-none d-lg-block">
      <div class="container py-3" >
        <div class="row justify-content-center" style="position: relative">
          <h1 class="mb-0" style="color: white; z-index: 2">Elige el plan que mejor se adapte a ti</h1>
          <div class="arrow-down" style="position: absolute; ">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid d-none d-lg-block" style="background-color: #E4F0F5">
      <img src="../assets/parrilla_desktop.png" alt="" width="100%">
    </div>
    <Footer class="container-fluid d-none d-lg-flex"></Footer>
    <CarriersPhone class="d-block d-lg-none"></CarriersPhone>
    <FooterPhone class="d-flex d-lg-none"></FooterPhone>
  </div>
</template>


<script>
  import Navbar from "./Navbar"
  import Header from "./Header"
  import Footer from "./Footer"
  import NavbarPhone from "./NavbarPhone"
  import FooterPhone from "./FooterPhone"
  import CarriersPhone from "./CarriersPhone"

  export default {
    name: 'Landing',
    components:{
      Navbar,
      Header,
      Footer,
      NavbarPhone,
      FooterPhone,
      CarriersPhone
    }
  }
</script>


<style scoped>

</style>
