<template>
  <nav class="navbar navbar-expand-lg z-depth-0 sticky-top py-0 px-0" style="background-color: white">
    <div style="width: 55%; margin-left: 5%; margin-right: 0" class="navbar navbar-expand-lg z-depth-0 py-0">
      <div class="ml-3">
        <a class="navbar-brand mr-0 py-0"><img src="../assets/logo_vcell.png" alt=""
                                               height="70px" class=""></a>
      </div>
      <ul class="navbar-nav mr-auto ml-auto mt-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-carrier">Movistar</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-carrier">Unefon</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-carrier">AT&T</a>
        </li>
      </ul>
      <div class="arrow-right" style="position: absolute; right: -2rem; z-index: 2"></div>
    </div>
    <div style="width: 45%; margin-left: 0; padding-right: 5%; height: 70px; background-color: #2A5689"
         class="navbar navbar-expand-lg z-depth-0 py-0">
      <ul class="navbar-nav mr-auto ml-auto mt-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-info" href="http://vcell.com.mx/migrate">migrate a movistar</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-info">Información Legal</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link nav-link-info">Ayuda</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    name: "Navbar"
  }
</script>

<style scoped>

  nav {
    background-color: #E4F0F5 !important;
  }

  .nav-link-carrier {
    color: black !important;
  }

  .nav-link-info {
    color: white !important;
  }

  .arrow-right {
    width: 0;
    height: 100%;
    border-top: 2.1rem solid transparent;
    border-bottom: 2.1rem solid transparent;

    border-left: 2rem solid #E4F0F5;
  }

</style>

