<template>
  <nav class="navbar navbar-expand-lg z-depth-0 px-0 sticky-top py-0" style="background-color: white">
    <div style=" margin-left: auto; margin-right: auto;" class="navbar navbar-expand-lg z-depth-0 px-0 py-0">
      <div class="pl-3" style="width: 55%; position: relative">
        <a class="navbar-brand mr-0 py-0"><img src="../assets/logo_vcell.png" alt=""
                                               height="50px" class=""></a>
        <div class="arrow-right" style="position: absolute; right: -2rem; top: -10px; z-index: 2"></div>
      </div>
      <button style="color: black; width: 45%; height: 70px; background-color: #2A5689; border-radius: 0"
              class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <img class="navbar-toggler-icon" src="../assets/icon_menu.svg" height="70px" style="width: auto; height: 50px">
      </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto ml-auto mt-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-carrier">Movistar</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-carrier">Unefon</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-carrier">AT&T</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-info" href="http://vcell.com.mx/migrate">migrate a movistar</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-info">Información Legal</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link nav-link-info">Ayuda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: "NavbarPhone"
  }
</script>

<style scoped>
  nav {
    background-color: #E4F0F5 !important;
  }

  .nav-link {
    color: black !important;
  }

  .arrow-right {
    width: 0;
    height: 70px;
    border-top: 2.1rem solid transparent;
    border-bottom: 2.1rem solid transparent;

    border-left: 2rem solid #E4F0F5;
  }

</style>
