<template>
  <div class="container mt-5" style="max-width: 950px">
    <div class="card" style="border-radius: 10px">
      <div class="card-body" style="padding: 0; ">
        <div style=" background-color: #003059; border-radius: 10px 10px  0px  0px; position: relative">
          <div class="row justify-content-center">
            <div class="col-12 my-4">
              <h1 style="color: white; font-weight: bold" class="text-center">TE ESTAMOS <br> BUSCANDO</h1>
            </div>
          </div>
          <div style="max-height: 200px; position: absolute; right: 2rem; top: 0rem" class="d-none d-md-block">
            <img src="../assets/vacante_lupa.svg" alt="" height="200px">

          </div>
        </div>
        <div>
          <div class="container mt-5" style="color: #003059;">
            <div class="row justify-content-center">
              <div class="col-11">
                <h4 class="mb-0" style="font-weight: bold">Distribuidora Vegacell </h4>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11">
                <h4>
                  Empresa dedicada a la venta de telecomunicaciones solicita: <br>
                  <span style="font-weight: bold">PROMOTOR</span> para Venta de Tiempo Aire en <span
                  style="font-weight: bold">{{`${$route.params.id}`}}</span> <br>
                </h4>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11">
                <h4>
                  Con experiencia en ventas a detalle, preventista, o venta cambaceo.<br>
                  Bachillerato concluido.<br>
                  Licencia de conducir vigente y contar con vehículo (preferente)<br>
                  Gusto por las ventas.<br>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div style="background-color: #0092cf; color: white">
          <div class="container">
            <div class="row pt-3">
              <div class=" col-sm-12 col-lg-6">
                <h4 class="mb-0 ml-4" style="font-weight: bold">
                  Ofrecemos:
                </h4>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 1.9rem">
                  <h4 class="ml-4 mb-0">
                    Sueldo base de $7,000 pesos
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 3.5rem">
                  <h4 class="ml-4 mb-0">
                    Comisiones sin tope
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 5.2rem">
                  <h4 class="ml-4 mb-0">
                    Prestaciones de ley
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 7rem">
                  <h4 class="ml-4 mb-0">
                    Gastos de gasolina
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 8.7rem">
                  <h4 class="ml-4 mb-0">
                    Horario: Lun a vie 9:00 a 18:00 hrs
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_bien.svg" alt="" height="20px"
                       style="position: absolute; left: .5rem; top: 10.6rem">
                  <h4 class="ml-4 mb-0">
                    Con disponibilidad de horario
                  </h4>
                </di>
              </div>
              <div class=" col-sm-12 col-lg-6">
                <h4 class="mb-0 ml-4" style="font-weight: bold">
                  Funciones:
                </h4>
                <di>
                  <img src="../assets/vacante_punto.svg" alt="" height="15px"
                       style="position: absolute; left: .6rem; top: 2rem">
                  <h4 class="ml-4 mb-0">
                    Crear una cartera de clientes.
                  </h4>
                </di>
                <di>
                  <img src="../assets/vacante_punto.svg" alt="" height="15px"
                       style="position: absolute; left: .6rem; top: 3.6rem">
                  <h4 class="ml-4 mb-0">
                    Tener un excelente manejo de
                    la agenda para contactar vía
                    telefónica y prospectar clientes
                    nuevos y clientes activos.
                  </h4>
                </di>
              </div>
            </div>
          </div>
        </div>
        <div style="background-color: #003059; color: white; border-radius: 0 0 10px 10px">
          <div class="container">
            <div class="row justify-content-center" style="position: relative">
              <div class="col-sm-11 col-lg-6">
                <div>

                  <img src="../assets/vacante_llamada.svg" alt="" height="23px"
                       style="position: absolute; left: 1rem; top: 6.7rem">
                  <img src="../assets/vacante_correo.svg" alt="" height="23px"
                       style="position: absolute; left: 1rem; top: 4.9rem">
                  <h4 class="my-5 ml-5">
                    INTERESADOS ENVIAR SU CV A: <br>
                    recursoshumanos@vcell.com.mx <br>
                    55 7121 0047 whatsapp <br>
                  </h4>
                </div>
              </div>
              <h4 style="position: absolute; right: 2rem; bottom: .5rem"> vcell.com.mx</h4>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Vacant"
  }
</script>

<style scoped>

</style>
