<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style lang="scss">
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 9rem solid transparent;
    border-right: 9rem solid transparent;
    border-top: 5+rem solid #2A5689;
  }
</style>
